$primary-color: rgb(0, 136, 0);
$secondary-color: white;
$accent-color: rgb(255, 255, 0);
$text-color: rgb(0, 101, 0);
$bg-color: rgb(217, 255, 217);

$font-weights: (
    "light": 100,
    "regular": 500,
    "bold": 700
);

$text-size: (
    'small': 16px,
    'medium': 22px,
    'large': 30px,
    'huge': 40px,
);

$padding-size: (
    'small': 1em,
    'normal': 2em,
    'wide': 5em,
);

$tablet: 780px;

